body{
  background-color: lightcyan;
  color: black
}

nav, a:hover
{
  background-color: orange;

}

img{
  width: 300px;
  height: 200px;
}

#first_div
{
  background-color: red;
}

.p1
{
  color: #000;
  font-size: 1rem;
}